.pr{
    width: 100%;
    /* border: 1px solid red; */
    padding: 50px 0px;
}

.pr-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-title{
    font-weight: 500;

}

.pr-link{
    text-decoration: none;
}

.pr-sub{
    margin: 10px 0px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(36, 172, 36, 0.932);
}

.pr-sub:hover{
    color:rgb(65, 138, 65);
    text-decoration: underline;
    text-decoration-color: darkgreen;
}

.project-list{
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    /* border: 1px solid red; */
    
}

@media  screen and (max-width:480px) {
    .pr{
        padding: 10px;
        margin-top: 50px;
    }

    .project-list{
        width: 100%;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
    }
    
}

