.clientsSection{
    padding-top: 50px;
    width: 100%;
    height: 230px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.clientsTitle{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 50px;
}

.imageSection{
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */


}

.client-img{
    width: 80px;
    height: 80px;
}

.client-img2{
    margin-top: 30px;
}

.client-img3{
    width: 100px;
    height: 150px;
    margin-top: -19px;
}

.client4{
    font-size: 25px;
    margin-top: 32px;
    color: rgb(1, 128, 1);
}

.client5{
    font-size: 25px;
    margin-top: 32px;
    color: white;
}

.client6{
    font-size: 25px;
    margin-top: 32px;
    color: white;
}

.clientsMove{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid green; */

    
}

@media screen and (max-width:480px) {
    .clientsSection{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        /* border: 1px solid red; */
        

        animation: item 8s ease-in-out infinite alternate
        
        
    }

    @keyframes item {
        50% {
            transform: translateX(-40%);
        }
        100%{
            transform: translateX(50%);
        }
        
    }

    .clientsTitle{
        font-size: 40px;
        margin-left: 30px;
        margin-top: 50px;
        
    }

    .client-img3{
        width: 90px;
        height: 100px;
        margin-right: 20px;
    }

    .client-img{
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .client-img2{
        width: 90px;
        /* height: 50px; */
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .client4{
        font-size: 20px;
        margin-top: 18px;
        color: rgb(1, 128, 1);
        margin-left: 20px;
        margin-right: 20px;
    }

    .client6{
        font-size: 20px;
        margin-top: 18px;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        /* border: 1px solid green; */
        width: 100px;
    }

    .client5{
        font-size: 20px;
        margin-top: 18px;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        /* border: 1px solid green; */
        width: 120px;
    }



    

    

    
}

