.s-outer {
  width: 100%;
  height: 80vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 10px; */
  /* padding-top: 3px; */
}


.s-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* padding-top: 1px; */
}

.s-title {
  font-weight: 500;
  /* margin-top: 10px; */
}

.s-desc {
  margin: 20px 0;
  font-weight: 400;
  color: grey;
  font-style: italic;
}

.s-skillset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red;  */
}

.s-skills {
  display: grid;
  /* padding: 20px 0; */
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 130px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
  /* border: 1px solid red; */
  /* text-align: center; */
}

.skillList {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 400;
  margin-left: 20px;
  /* display: inline-block; */
  /* font-family: var(--font-mono);
    font-size: var(--fz-xs); */
}

.skillList:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: teal;
  font-size: 20px;
  line-height: 22px;
  
}

@media screen and (max-width:480px) {
  .s-outer{
    margin-top: 50px;
    height: 70vh;
  }

  .s-title{
    font-size: 35px;
  }

  .s-desc{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }

  .s-skillset{
    align-items: center;
    justify-content: space-evenly;
  }

  .s-skills{
    grid-gap: 0 0;
    margin-left: 35px;
  }

  li{
    font-size: 13px;
    
  }

  
  
}

