.d{
    height: 95vh;
    position: relative;
    
}

.d-bg{
    width: 20px;
    height: 100%;
    background-color: rgb(110, 168, 133);
    position: absolute;
}

.d-wrapper {
    padding: 50px;
    display: flex;
  }
  
  .d-left {
    flex: 1;
  }
  
  .d-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .d-title {
    font-size: 60px;
    width: 80%;
  }
  
  .d-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
  }
  
  .d-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .d-desc {
    font-weight: 300;
  }

  form {
    margin-top: 20px;
    width: 100%;
  }
  
  .emailInput {
    width: 48%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  .inputDiv{
    display: flex;
    justify-content: space-between;
  }

  .nameInput{
    width: 48%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }

  .subjectInput{
    width: 48%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  button {
    border: 1.5px solid green;
    padding: 15px 25px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: rgba(60, 133, 76, 0.562);
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

  .done{
    color: green
  }

  @media screen and (max-width:480px) {
    .d-wrapper{
      flex-direction: column;
      padding: 0px 50px;
      margin-top: 20px;
    }

    .d{
      height: auto;
      margin-top: 50px;
    }

    .d-right{
      margin-top: 10px;
    }

    .d-title {
      font-size: 30px;
    }

    .d-info-item {
      margin: 20px 0px;
      width: 100%;
    }

    .d-desc {
      display: none;
    }

    form {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
  
    input {
      width: 35%;
      height: 40px;
      margin: 10px;
      margin-left: 0;
    }

    .emailInput{
      width: 99%;
    }

    textarea{
      width: 99%
    }
  
    button {
      margin-top: 20px;
      margin-bottom: 30px;
    }


    .done{
      margin-top: 5px;
      margin-bottom: 30px;
      color: green;
    }
    
  }

  